    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../img/favicon.ico">

        <title>Create new blog post</title>

        <!-- Bootstrap core CSS -->
        <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="../css/style.css">

        <!--Easy editor plugin css -->
        <link rel="stylesheet" href="../easyeditor/src/easyeditor.css">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/blog.css" rel="stylesheet">
        <script src="../js/ie-emulation-modes-warning.js"></script>
      </head>

      <body>

        <div class="container blog-masthead">
          <div class="row">
            <nav class="blog-nav">
              <a class="blog-nav-item" id="homePage" href="">Home</a>
              <a class="blog-nav-item" id="createNewPost" href="">New Post</a>
              <a class="blog-nav-item" href="#">Press</a>
              <a class="blog-nav-item" href="#">New hires</a>
              <a class="blog-nav-item" href="#">About</a>
            </nav>
          </div>
        </div>
        <div class="container">
            <div class="row">

                <h1 style="margin-top:20px">Create new post</span></h1>

                <form action="" id="myform" class="demo-form">
                  
                  <div class="form-group">  
                    <label for="authName">Author Name</label>
                    <input class="form-control" type="text" id="authName" placeholder="Enter name" value="E.g Mr. Anoop Kurian">
                  </div>

                  <div class="form-group">  
                    <label for="title">Title</label>
                    <input class="form-control" type="text" id="title" placeholder="Enter title" value="Sample article title">
                  </div>

                  <div class="form-group">  
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" placeholder="Enter article body">Lorem <b>ipsum</b> dolor sit amet, consectetur adipisicing elit. Ab, perferendis ut consequuntur corrupti maxime possimus atque quod doloribus, blanditiis amet cum vitae obcaecati nihil, sed nesciunt nemo recusandae in repellendus.</textarea>
                  </div>
                    <button id="saveArticle" type="submit" class="btn btn-default">Save article</button>
                </form>

            </div>
        </div>    

        <footer class="blog-footer">
          <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../js/ie10-viewport-bug-workaround.js"></script>
        <script src="../easyeditor/src/jquery.easyeditor.js"></script>
        <script src="../js/common/common.js"></script>

        <script>
            jQuery(document).ready(function($) {
                $('#createNewPost').addClass('active');
                new EasyEditor('#description', {
                    css: ({
                        minHeight: '300px',
                        maxHeight: '500px'
                    }),
                    onLoaded: function(){
                        console.log('Easy Editor Loaded!');
                    },
                    buttons : ['bold', 'italic', 'link', 'h2', 'h3', 'h4', 'alignleft', 'aligncenter', 'alignright', 'quote', 'code', 'image', 'youtube', 'x', 'source']
                });

                $('#saveArticle').click(function(event) {
                    event.preventDefault();
                    data = [{"name" : $('#authName').val(), "title" : $('#title').val(), "description" : $('#description').val()}];
                    createAndSubmitDynamicForm("saveArticle", data, "POST", false);
                });

            });
        </script>
      </body>
    </html>